<div class="list">
  <table>
    <thead class="list-header">
    <tr>
      <td ng-repeat="header in $ctrl.headers">
        <a>{{header.text}}</a>
      </td>
    </tr>
    </thead>
    <tbody class="items-container">
    <tr ng-repeat="item in $ctrl.items"
        ng-class="{highlighted: $ctrl.selectedItem == item}"
        ng-click="$ctrl.handleRowClick(item)"
        class="list-item">
      <td ng-repeat="header in $ctrl.headers">
        {{item[header.value]}}
      </td>
    </tr>
    </tbody>
  </table>
</div>
