<md-card>
  <form>

    <md-card-content layout="column" layout-align="none none">

      <md-input-container flex-gt-xs>
        <label>Title*</label>
        <input type="text"/>
      </md-input-container>

      <md-input-container>
        <label>Description</label>
        <input type="text"/>
      </md-input-container>

    </md-card-content>

    <md-card-actions layout="row">

      <md-button class="md-raised md-primary">
        Submit
      </md-button>
      <md-button class="md-raised">Clear</md-button>

    </md-card-actions>
  </form>
</md-card>
