<md-card>
  <form name="userForm">

    <md-card-content layout="column" layout-align="none none">

      <md-input-container flex-gt-xs>
        <label>Title*</label>
        <input ng-model="$ctrl.tmpTitle" type="text"/>
      </md-input-container>

      <md-input-container>
        <label>Description</label>
        <input ng-model="$ctrl.tmpDescription" type="text"/>
      </md-input-container>

    </md-card-content>

    <md-card-actions layout="row">

      <md-button ng-disabled="!$ctrl.isValid()"
                 ng-click="$ctrl.handleSubmit()"
                 class="md-raised md-primary"
      >
        Submit
      </md-button>
      <md-button class="md-raised">Clear</md-button>

    </md-card-actions>
  </form>
</md-card>
