<div class="car-configurator">
  <h1>CarConfigurator</h1>
  <div class="chosen-config">
    <h3>Current config</h3>
    <p>Engine: TODO</p>
    <p>Color: TODO</p>
    <p>Drive Wheel: TODO</p>
  </div>
  <div>
    <option-picker
      label="'Choose engine type'"
      options="$ctrl.engines"
      option-select="$ctrl.handleSelectEngine($event)"
    ></option-picker>

    <!-- TODO-->
    <option-picker
      label="'Select color'"
    ></option-picker>

    <!-- TODO-->
    <option-picker
      label="'Your drive wheel?'"
    ></option-picker>
  </div>
</div>
